# NAS connection
NAS_IP=192.168.50.92
NAS_USER=kevin
NAS_SSH_PORT=22

# Project paths
NAS_PROJECT_PATH=/volume1/docker/projects/vader-flix-webapp

# Docker
BACKEND_DOCKER_COMPOSE_FILE=backend/docker-compose.yml
CONTAINER_NAME_PREFIX=vader-flix

# MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_NAME=vaderflix
DB_USER=vaderflix
DB_PASSWORD=DarthVader2024 